.front {
  background-color: var(--bg);
  box-shadow: var(--shadow);
  border-radius: 8px;
  padding: 32px;
  margin: 32px 0;
  height: auto;

}

#PFP {
  border-radius: 100px;
  box-shadow: var(--shadow);
  width: 200px;
  height: 200px;

}
